<div *ngIf="clothes" class="equipment-details">
  <div class="details" @animations>
    <div class="productdata">
      <img [src]="clothes.pictures" alt="{{ clothes.name }}" class="equipment-image">
      <div class="info">
        <h2 class="name">{{ clothes.name }}</h2>
        <h3 class="textproduct" style="color: #34be02"><strong>Цена: </strong>  {{ clothes.price }} Руб.</h3>
        <h3 class="textproduct"><strong>Тип: </strong>  {{ clothes.type }}</h3>
        <div class="sizes-container">
          <button style=" " class="button-size" *ngFor="let size of clothes.size"
                  (click)="onSizeChange(size)"
                  [class.selected]="selectedSize === size">
            {{ size }}
          </button>
        </div>
        <h3 class="textproduct"><strong>Наличие товара: </strong>  <span [class.green]="clothes.typeForBuy === 'Есть в наличии'" [class.red]="clothes.typeForBuy === 'Под заказ'">{{ clothes.typeForBuy }}</span></h3>
       <div class="buttons">
          <div class="inside-buttons">
            <button (click)="addItem(clothes)" style="margin-right: 10px">Добавить в Корзину</button>

            <a class="delete-button" *ngIf="isProductAddedToCart" (click)="removeFromCart(clothes.id)"><span class="material-symbols-outlined">
delete
</span></a>
          </div>
          <span>Количество данного товара в корзине : {{quantityInBasket}}</span>
          <a routerLink="/basket" style="font-size: smaller; margin-top: 5px">Перейти в корзину</a>
        </div>
      </div>
    </div>
    <div >
      <p class="description"><strong>Описание:</strong><br> {{ clothes.description }}</p>
    </div>
    <div>
      <h2>Похожие товары:</h2>
      <app-dataproductshelper (click)="clickToTop()" [data]="addition" [title]="'/clothes'"></app-dataproductshelper>
    </div>
  </div>
</div>
