<div class="container">
  <div class="main">
    <div class="firstblock" @animations>
<h1 style="color: green">Распродажа!</h1>
      <div class="sale-banner" *ngIf="discountProduct.price" routerLink="/equipment/{{discountProduct.id}}">
        <img [src]="discountProduct.pictures" alt="{{ discountProduct.name }}">
        <h2>{{ discountProduct.name }}</h2>
        <p class="original-price">Цена без скидки: 54044 Руб.</p>
        <p class="discounted-price">Цена по скидке: {{ discountProduct.price }} Руб.</p>
        <p class="discount-percentage">Скидка: 40%</p>
        <span class="undertext">Кликните, что бы перейти на страницу товара.</span>
      </div>

      <div class="img-containerone" >
        <h1 class="name-of-block"><h1>M-sailing </h1> У нас вы
          можете найти парусную экипировку Sandiline, Zhik
          и других производителей, а так же яхтенное вооружение. Мы поставляем продукцию по всей России.</h1>
<!--        <button class="button" routerLink='equipment'>Перейти в каталог.</button>-->
      </div>
      <div @animations>
        <app-dataproductshelper [data]="equipments" [title]="'/equipment'"></app-dataproductshelper>
      </div>
    </div>
    <div class="firstblock animate" appScrollAnimations>
      <h1 class="name-of-blocksec">Вооружение Для Яхты.</h1>
      <div class="img-container animate" appScrollAnimations>

        <img src="./assets/images/photo_2024-04-01_15-48-47.jpg" alt="" class="imagesblocks">
      </div>
  <app-dataproductshelper [data]="armament" [title]="'/armament'"></app-dataproductshelper>
    </div>
    <div class="firstblock animate" appScrollAnimations>
      <h1 class="name-of-blocksec">И многое другое.</h1>
      <div class="img-container animate" appScrollAnimations>
        <img src="./assets/images/photo_2024-04-01_15-48-51.jpg" alt="" class="imagesblocks">
      </div>
      <app-dataproductshelper [data]="boats" [title]="'/boats'"></app-dataproductshelper>
    </div>

  </div>
</div>
