<div class="flexBox">
  <div class="insidebox">
    <img src="./assets/images/download%20(1).png" alt="msailing" class="img">
    <a class="NavLinks" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Главная</a>
    <a class="NavLinks" routerLink="/equipment" routerLinkActive="active" >Экипировка</a>
    <a class="NavLinks" routerLink="/covers" routerLinkActive="active">Чехлы</a>
    <a class="NavLinks" routerLink="/armament" routerLinkActive="active">Вооружение</a>
<!--    <a class="NavLinks" routerLink="/clothes" routerLinkActive="active">Повседневная одежда</a>-->
    <a class="NavLinks" routerLink="/boats" routerLinkActive="active">Комплект вооружения Ilca</a>
    <a routerLink="/basket" class="basket"><span class="material-symbols-outlined">
shopping_cart
</span>{{ItemsLength}}</a>
  </div>
</div>
