<div class="flexBox">
  <div class="insidebox">
    <img src="./assets/images/download%20(1).png" alt="msailing" class="img">
    <a class="NavLinks" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Главная</a>
    <a class="NavLinks" routerLink="/equipment" routerLinkActive="active">Экипировка</a>
    <a class="NavLinks" routerLink="/covers" routerLinkActive="active">Чехлы</a>
    <a class="NavLinks" routerLink="/armament" routerLinkActive="active">Вооружение</a>
    <a class="NavLinks" routerLink="/clothes" routerLinkActive="active">Повседневная одежда</a>
    <a class="NavLinks" routerLink="/boats" routerLinkActive="active">Комплект вооружения Ilca</a>
    <a style="color: coral; font-weight: 400; font-style: italic; border-bottom: 1px solid black" >Заказать: +7-991-100-49-87</a>
  </div>
</div>
