<div *ngIf="equipment" class="equipment-details">

  <div class="details" @animations>
    <div class="productdata">
      <img [src]="equipment.pictures" alt="{{ equipment.name }}" class="equipment-image">
      <div class="info">
        <h2 class="name">{{ equipment.name }}</h2>
        <h3 class="textproduct" style="color: #34be02"><strong>Цена: </strong>  {{ equipment.price }} Руб.</h3>
        <h3 class="textproduct"><strong>Тип: </strong>  {{ equipment.type }}</h3>
        <h3 class="textproduct"><strong>Размер: </strong>
          <div class="sizes-container">
            <button style=" " class="button-size" *ngFor="let size of equipment.size"
                    (click)="onSizeChange(size)"
                    [class.selected]="selectedSize === size">
              {{ size }}
            </button>
          </div>
        </h3>
        <h3  class="textproduct"><strong>Цвета: </strong>  {{ equipment.color }} <span *ngIf="!equipment.color">Для данного товара имеется один цвет.</span></h3>
        <h3 class="textproduct"><strong>Наличие товара: </strong>  <span [class.green]="equipment.typeForBuy === 'Есть в наличии'"
                                                                         [class.red]="equipment.typeForBuy === 'Под заказ'">{{ equipment.typeForBuy }}</span></h3>
        <div class="buttons">
          <div class="inside-buttons">
            <button (click)="addItem(equipment)" style="margin-right: 10px">Добавить в Корзину</button>

            <a class="delete-button" *ngIf="isProductAddedToCart" (click)="removeFromCart(equipment.id)"><span class="material-symbols-outlined">
delete
</span></a>
          </div>
          <span>Количество данного товара в корзине : {{quantityInBasket}}</span>
          <a routerLink="/basket" style="font-size: smaller; margin-top: 5px">Перейти в корзину</a>
        </div>


      </div>
    </div>
    <div >
      <p class="description"><strong>Описание:</strong><br> {{ equipment.description }}</p>
    </div>
    <div>
      <app-size-table></app-size-table>
      <h2>Похожие товары:</h2>
      <app-dataproductshelper (click)="clickToTop()" [data]="addition" [title]="'/equipment'"></app-dataproductshelper>
    </div>
  </div>

</div>
