<app-top-bar-filter (getEquipment)="getCovers()" [shopParams]="shopParams"
                    [types]="types" [options]="sortOptions" [typesForBuy]="typesForBuy" ></app-top-bar-filter>
<div style="display: flex; justify-content: center"  @animations *ngIf="covers.length === 0">Не найдено товаров с данным фильтром</div>
<div class="products-container">
  <div class="product-card" @animations *ngFor="let product of covers" [queryParams]="{type: shopParams.type}" routerLink="/covers/{{product.id}}">

    <div class="product-image">
      <img [src]="product.pictures" alt="Product Image">
    </div>
    <div class="product-details" >
      <h3 class="product-name">{{ product.name }}</h3>
      <p class="product-description">{{ product.description }}</p>
      <p class="product-price" style="color: #34be02">{{ product.price }} Руб.</p>
      <p class="product-type">Тип: {{ product.type }}</p>
    </div>

  </div>
</div>
<div *ngIf="covers.length > 0">
  <app-pagination [currentPage]="shopParams.pageIndex" [pagesCount]="pagesCount" (pageChanged)="changePage($event)"></app-pagination>
</div>
