<div style="padding: 10%">
  <h2><strong>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</strong></h2>
  Эта политика конфиденциальности определяет, как M-sailing использует и защищает любую информацию, которую вы предоставляете Нашей компании при использовании этого веб-сайта. M-sailing стремится обеспечить защиту вашей конфиденциальности. Если мы попросим вас предоставить определенную информацию, по которой вас можно идентифицировать при использовании этого веб-сайта, вы можете быть уверены, что она будет использоваться только в соответствии с этим заявлением о конфиденциальности.

 <h3><strong>Какие виды личной информации мы собираем?</strong></h3>
<ul>


<li>Ваше имя;</li>

  <li>Ваши личные и деловые контактные данные (включая ваш адрес, номера стационарного или мобильного телефона);</li>

  <li>Данные банковского счета и карты при оплате заказа онлайн;</li>

</ul>
  любая другая личная информация, предоставленная нам, когда вы делаете запрос, запрашиваете информацию (включая наши информационные пакеты и информацию о наших связанных продуктах), отвечаете на маркетинг или подаете жалобу.

  Мы рекомендуем вам не предоставлять нам такую конфиденциальную информацию, если мы специально не запросим ее. Мы будем собирать конфиденциальную информацию о вас только с вашего согласия. Если мы получим какую-либо конфиденциальную информацию о вас, мы будем обрабатывать ее в соответствии с настоящей Политикой конфиденциальности.

  Если вы предоставляете нам личную информацию третьей стороны, вы должны убедиться, что получили разрешение этого лица на это, и сообщить ему, когда вы предоставили нам его личную информацию.

 <h3>Как мы собираем личную информацию?</h3>
  По возможности мы всегда будем стараться собирать личную информацию непосредственно от вас, например, когда вы:
<ul>
  <li>запрашиваете информацию или связываетесь с нами через наш веб-сайт, мобильные или планшетные приложения, по телефону;</li>
  <li>переписываетесь с нами в письменной форме (например, письмами и электронными письмами);</li>
  <li>предоставляете нам свою визитную карточку или другие документы (например, контракты или публичные записи);</li>
  <li> встречаетесь с нами лично.</li>
</ul>

  <h3>Мы также можем получать вашу личную информацию от:</h3>
  <ul>
    <li>наших профессиональных консультантов;</li>
    <li>наших поставщиков услуг по контракту;</li>
    <li>Когда мы собираем личную информацию от третьих лиц, на которых вы ссылаетесь, мы предполагаем, а вы гарантируете, что вы уведомили третье лицо о направлении и целях сбора, использования и раскрытия соответствующей личной информации.</li>
  </ul>

  <h3>Зачем мы собираем, храним, используем и раскрываем вашу личную информацию?</h3>
  Мы собираем, храним, используем и раскрываем вашу личную информацию, чтобы иметь возможность предоставлять услуги, продукты и информацию, которые вы запрашиваете, а также выполнять наши функции и действия. В частности, мы можем собирать, хранить, использовать и раскрывать вашу личную информацию в целях:
<ul>
  <li>ответа на ваши запросы или запросы и предоставления вам информации или других продуктов или услуг, запрошенных вами;</li>
  <li>администрирования, поддержки, улучшения и развития нашего бизнеса, продуктов и услуг;</li>
  <li>общения с вами в ходе вашего бизнеса или других отношений с нами, в том числе в отношении обработки вашего заказа, оплаты счетов или, при необходимости, обновления и ведения наших записей;</li>
  <li>продвижения M-sailing и нашей деятельности, включая проведение прямого маркетинга (например, о наших продуктах и услугах и тех, которые предлагаются совместно или от имени других организаций)
  и кампаний по исследованию рынка (например, об эффективности наших продуктов и услуг);</li>
  <li>сделать наш веб-сайт более удобным для использования и предоставить вам доступ ко всем частям нашего веб-сайта, ориентированным на клиентов;</li>
  <li>уведомить вас о важных изменениях или событиях в наших функциях, деятельности, услугах или нашем веб-сайте;</li>
  <li>если вы подаете нам жалобу, обработать и ответить на вашу жалобу;</li>
  <li>сделать все, что вы разрешаете или даете нам согласие на выполнение; или
  предпринять любые действия, которые мы обязаны или уполномочены законом предпринять.</li>
  <li>За исключением случаев, когда вы получили разрешение, мы не будем продавать, обменивать или сдавать в аренду личную информацию, которую мы храним о вас, неаффилированным третьим лицам.</li>

  <h5><strong>Если вы не разрешите нам собирать всю личную информацию, которую мы обоснованно запрашиваем, мы не сможем предоставить вам наши продукты и услуги или обращаться с вами так, как вы запросили.</strong></h5>
</ul>

  <h2>РАСКРЫТИЕ ВАШЕЙ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</h2>
  <h3>Мы можем раскрыть вашу личную информацию:</h3>
<ul>
  <li>нашим сотрудникам;</li>

  <li>нашим профессиональным консультантам;</li>

  <li>третьим лицам, которых мы привлекаем для проведения рекламных акций или других мероприятий, запрошенных вами, или в целях прямого маркетинга (если вы не отказались от прямых маркетинговых коммуникаций);</li>

  <li>операторам платежных систем и финансовым учреждениям;

</ul>


  <h2>ВЕБ-САЙТ</h2>
  <h5>Эта Политика конфиденциальности применяется к вашему использованию нашего веб-сайта (https://m-sailing.ru/) и мобильных или планшетных приложений, а также любой личной информации, которую вы можете предоставить нам через наш веб-сайт.</h5>

  <h5>Когда вы посещаете наш веб-сайт, мы и наши подрядчики можем собирать информацию о вас, которая может включать личную
    информацию (которая будет или является деидентифицированной), такую как:</h5>
  <ul>
  <li>дата и время посещения вами нашего веб-сайта;</li>

  <li>просмотренные вами страницы, как долго вы просматривали эти страницы и ваше поведение при просмотре;</li>

  <li>как вы перемещались и взаимодействовали с нашим веб-сайтом (включая то, заполняли ли вы какие-либо формы заявок);</li>

  <li>информация об устройстве, которое вы использовали для посещения нашего веб-сайта; и
  IP-адрес, автоматически назначенный вашим интернет-провайдером устройству, которое вы использовали для посещения нашего веб-сайта.
  Мы используем эту информацию (i) для персонализации содержимого веб-сайта для вас (например, для упрощения входа в систему,
    ведения корзины покупок для ваших заказов и доступа к информации о вашей учетной записи) и для системного администрирования,
    подготовки статистики использования нашего веб-сайта и улучшения содержимого нашего веб-сайта.</li>

  <li>Мы собираем эту информацию с помощью файлов cookie (и других подобных технологий), которые представляют собой небольшие объемы информации,
  которые мы можем хранить на вашем компьютере, собирая информацию о вашем веб-браузере. Файлы cookie сами по себе не идентифицируют
  отдельного пользователя, а только используемый компьютер. Разрешение нам создать файл cookie не дает нам доступа к остальной части
  вашего компьютера, и мы не будем использовать файлы cookie для отслеживания вашей онлайн-активности после того, как вы покинете наш сайт.
  Файлы cookie считываются только сервером, который их разместил, и не могут выполнять какой-либо код или вирус. Вы можете настроить параметры
  безопасности, чтобы принимать или отклонять запросы на размещение файлов cookie на вашем компьютере.</li>
</ul>
</div>
