<div *ngIf="orderData" class="order-success-container" style="margin-top: 50px; margin-bottom: 50px">
  <div class="order-success-header">
    <h1><span class="material-symbols-outlined">
handshake
</span><span style="margin-left: 10px">
      Заказ успешно создан!
      <span>Мы с вами свяжемся по номеру телефона, который вы оставили.</span>
    </span></h1>
    <p>Ваш номер заказа: {{ orderData.id }}</p>
  </div>
  <h3>Детали заказа:</h3>
  <div class="order-items">
    <div *ngFor="let item of orderData.productToCreateOrder" class="order-item">
      <img [src]="item.pictures" alt="{{ item.name }}" class="order-item-image">
      <div class="order-item-details">
        <div class="order-item-name">{{ item.name }}</div>
        <div class="order-item-price">Цена за штуку: {{ getPriceInLocalCurrency(item.price) }} ₽</div>
        <div class="order-item-quantity">Размер: {{ item.size }}</div>
        <div class="order-item-quantity">Количество: {{ item.quantity }}</div>
        <div style="margin-top: 5px">Цена Итого по товару: {{ item.price * item.quantity}} ₽</div>
      </div>
    </div>
  </div>
  <div class="order-total">
    <p *ngIf="orderData.totalPrice">Общая стоимость: {{ getPriceInLocalCurrency(orderData.totalPrice) }} ₽</p>
  </div>
  <button type="submit" routerLink="/">На главную</button>
</div>
