<button class="BackToBasket"> <span style="color: white" class="material-symbols-outlined">
arrow_back
</span><a style=" color: white;
text-decoration: none;" href="basket">Вернуться в корзину</a></button>
<form [formGroup]="orderForm" (ngSubmit)="onSubmit()" style="margin-top: 30px; margin-bottom: 30px">
  <div>
    <label for="phoneNumber">Номер телефона:</label>
    <input id="phoneNumber" formControlName="phoneNumber" placeholder="8-999-100-22-33" type="text">
    <div *ngIf="isFieldInvalid('phoneNumber')" class="error">
      Пожалуйста, введите корректный номер телефона.
    </div>
  </div>

  <div formGroupName="address">
    <div>
      <label for="region">Регион:</label>
      <input id="region" formControlName="region" type="text">
      <div *ngIf="isAddressFieldInvalid('region')" class="error">
        Пожалуйста, введите регион.
      </div>
    </div>
    <div>
      <label for="city">Город:</label>
      <input id="city" formControlName="city" type="text">
      <div *ngIf="isAddressFieldInvalid('city')" class="error">
        Пожалуйста, введите город.
      </div>
    </div>
    <div>
      <label for="street">Улица:</label>
      <input id="street" formControlName="street" type="text">
      <div *ngIf="isAddressFieldInvalid('street')" class="error">
        Пожалуйста, введите улицу.
      </div>
    </div>
    <div>
      <label for="house">Дом:</label>
      <input id="house" formControlName="house" type="text">
      <div *ngIf="isAddressFieldInvalid('house')" class="error">
        Пожалуйста, введите номер дома.
      </div>
    </div>
    <div>
      <label for="corpus">Корпус: (При наличии)</label>
      <input id="corpus" formControlName="corpus" type="text">
    </div>
  </div>

  <div>
    <label for="nameOfGetter">Получатель: (Ф.И.)</label>
    <input id="nameOfGetter" formControlName="nameOfGetter" type="text">
    <div *ngIf="isFieldInvalid('nameOfGetter')" class="error">
      Пожалуйста, введите имя получателя.
    </div>
  </div>

  <h3>Товары</h3>
  <div *ngFor="let item of cartItems" class="cart-item">
    <img [src]="item.product.pictures" alt="{{ item.product.name }}">
    <div class="product-info">
      <div class="product-name">{{ item.product.name }}</div>
      <div class="product-quantity">{{ item.product?.size }}</div>
      <div class="product-price">Цена за шт. - {{ item.product.price }} ₽</div>
      <div class="product-quantity">Количество: {{ item.quantity }}</div>
    </div>
  </div>

  <button type="submit"  [disabled]="orderForm.invalid">Оформить заказ</button>
  <br>
  <span style="color: red; font-weight: bold">{{error}}</span>
</form>
