<div class="container">
  <h1>Условия использования</h1>

  <p>Данные Условия использования регулируют использование вами данного сайта m-sailing.ru. Используя Сайт, вы соглашаетесь с этими Условиями. Если вы не согласны с данными Условиями, пожалуйста, не используйте наш Сайт.</p>

  <h2>1. Использование сайта</h2>
  <p>Сайт предназначен для предоставления информации о наших товарах и услугах, а также для совершения покупок. Вы обязуетесь использовать Сайт только для законных целей и в соответствии с действующим законодательством.</p>

  <h2>3. Заказы и оплата</h2>
  <p>Вы соглашаетесь, что все заказы, размещенные через наш Сайт, являются обязательными для исполнения. Мы оставляем за собой право отменить заказ по причинам, таким как: недостаточная доступность товара, ошибки в ценах или описании товара, или любые другие причины.</p>

  <h2>4. Возврат и обмен товаров</h2>
  <p>Мы принимаем возврат и обмен товаров в течение 14 дней с момента получения. Товары должны быть неиспользованными и в оригинальной упаковке.</p>

  <h2>5. Ограничение ответственности</h2>
  <p>Мы не несем ответственности за любые убытки или ущерб, возникшие в результате использования или невозможности использования Сайта. Сайт предоставляется "как есть" без каких-либо гарантий.</p>

  <h2>6. Изменение условий</h2>
  <p>Мы оставляем за собой право вносить изменения в данные Условия использования. Изменения вступают в силу с момента их публикации на Сайте. Вы обязуетесь периодически проверять данные Условия на предмет изменений.</p>

  <h2>8. Контактная информация</h2>
  <p>Если у вас есть вопросы по данным Условиям, пожалуйста, свяжитесь с нами по электронной почте: <a href="mailto:shop@m-sailing.ru">shop@m-sailing.ru</a>.</p>

</div>
