<div class="main">
  <h4 class="spandata">
    Мы всегда на связи!
  </h4>
  <div class="container">
    <div class="contacts">
      <img src="./assets/images/unnamed%20(1).png" alt="wsap" class="imgcnt">
      +7-991-100-49-87
    </div>
    <div class="contacts">
      <img src="./assets/images/download.png" alt="ph" class="imgcnt">
      +7-991-100-49-87
    </div>
    <div class="contacts">
      <a style="text-decoration: none; color: black; display: flex; align-items: center" href="https://t.me/SailingShop">
      <img src="./assets/images/unnamed.png" alt="wsap" class="imgcnt" >
      <span>
        M-sailing
      </span></a>
    </div>
  </div>
</div>
<!--<footer class="py-3 my-4">-->
<!--  <ul class="nav justify-content-center border-bottom pb-3 mb-3">-->
<!--    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>-->
<!--    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>-->
<!--    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>-->
<!--    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>-->
<!--    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>-->
<!--  </ul>-->
<!--  <p class="text-center text-body-secondary">© 2024 Company, Inc</p>-->
<!--</footer>-->
