<div class="main">
  <h4 class="spandata">
    Мы всегда на связи!
  </h4>
  <div class="container">
    <div class="contacts">
      <img src="./assets/images/unnamed%20(1).png" alt="wsap" class="imgcnt">
      <div class="numbers">
        <strong><a class="text-body-secondary" href="tel:+79911004987">+7-991-100-49-87</a></strong>
        <strong><a class="text-body-secondary" href="tel:+79284596417">+7-928-459-64-17</a></strong>
        <strong><a class="text-body-secondary" href="tel:+79674908680">+7-967-490-86-80</a></strong>
      </div>
    </div>

    <div class="contacts">
      <img src="./assets/images/download.png" alt="ph" class="imgcnt">
      <div class="numbers ">
        <strong><a class="text-body-secondary" href="tel:+79911004987">+7-991-100-49-87</a></strong>
        <strong><a class="text-body-secondary" href="tel:+79284596417">+7-928-459-64-17</a></strong>
        <strong><a class="text-body-secondary" href="tel:+79674908680">+7-967-490-86-80</a></strong>
      </div>

    </div>
    <div class="contacts">
      <div class="right-block">
        <div>
          <a style="text-decoration: none; color: black; display: flex; align-items: center"
             href="https://t.me/SailingShop">
            <img src="./assets/images/unnamed.png" alt="wsap" class="imgcnt">
            <span class="text-body-secondary" style="font-weight: bold; text-decoration: underline">
        M-sailing
      </span></a>
        </div>
        <br>
        <div style="display: flex; justify-content: center; align-items: center">
      <span class="material-symbols-outlined text-body-secondary" style="scale: 1.5; margin-right: 10px; ">
mail
</span> <div class="emails">
          <a href="mailto:shop@m-sailing.ru" class="text-body-secondary" style="font-weight: bold">shop@m-sailing.ru</a>
          <a href="mailto:shop@m-sailing.ru" class="text-body-secondary" style="font-weight: bold">SailingShop@mail.ru</a>
        </div>
        </div>
      </div>
    </div>

  </div>
  <div class="conditions">
    <span><a href="/privacy-policy">Политика конфиденциальности</a> <span class="vertical"> |</span></span>
    <span><a href="/terms-of-service">Условия использования</a> <span class="vertical"> |</span></span>
   <span><a href="https://m-sailing.ru/sitemap.xml" target="_blank">Карта сайта</a> <span class="vertical"> |</span></span>
    <span><a href="/cookie-policy">Политика использования файлов cookie</a><span class="vertical"> |</span></span>
    <span *ngIf="!user"><a href="/login">Admins</a></span>
    <button *ngIf="user" (click)="logout()">Logout</button>
    <span *appHasRole="['Admin']"><span class="vertical"> | </span><a  href="/create-equipment">Создать</a></span>
  </div>

  <p class="text-center text-body-secondary" style="border-top: 1px solid black; margin-top: 10px; padding-top: 10px;">©
    2020 M-Sailing, Inc.</p>

</div>


