<div class="main">
  <h4 class="spandata">
    Мы всегда на связи!
  </h4>
  <div class="container">
    <div class="contacts">
      <img src="./assets/images/unnamed%20(1).png" alt="wsap" class="imgcnt">
      +7-991-100-49-87
    </div>
    <div class="contacts">
      <img src="./assets/images/download.png" alt="ph" class="imgcnt">
      +7-991-100-49-87
    </div>
    <div class="contacts">
      <img src="./assets/images/unnamed.png" alt="wsap" class="imgcnt">
      +7-991-100-49-87<br> Slava_Udalov
    </div>
  </div>
</div>
