<h1>Размерные таблицы</h1><br/>
<div class="container">

  <div class="image-grid">
    <div class="image-item">
      <img src="./assets/images/table2.jpg" alt="Размерная таблица 1">
    </div>
    <div class="image-item">
      <img src="./assets/images/razmer.jpg" alt="Размерная таблица 2">
    </div>
    <div class="image-item">
      <img src="./assets/images/table1.jpg" alt="Размерная таблица 3">
    </div>
    <div class="image-item">
      <img src="./assets/images/forkids.jpg" alt="Размерная таблица 3">
    </div>
  </div>
</div>
