<div *ngIf="armament" class="equipment-details">

  <div class="details" @animations>
    <div class="productdata">
      <img [src]="armament.pictures" alt="{{ armament.name }}" class="equipment-image">
      <div class="info">
        <h2 class="name">{{ armament.name }}</h2>
        <h3 class="textproduct"><strong> {{ armament.price }} Руб.</strong></h3>
        <span style="font-size: small">Тип товара: </span><strong><h3 class="textproduct" style="font-weight: bold"> {{ armament.type }}</h3></strong>
        <h3 class="textproduct"><strong>Наличие товара: </strong> <span>{{armament.quantity}} шт. - </span> <span [class.green]="armament.typeForBuy === 'Есть в наличии'" [class.red]="armament.typeForBuy === 'Под заказ'">{{ armament.typeForBuy }}</span></h3>
        <div class="buttons">
          <div class="inside-buttons">
            <button (click)="addItem(armament)" style="margin-right: 10px">Добавить в Корзину</button>

            <a class="delete-button" *ngIf="isProductAddedToCart" (click)="removeFromCart(armament.id)"><span class="material-symbols-outlined">
delete
</span></a>
          </div>
          <span>Количество данного товара в корзине : {{quantityInBasket}}</span>
          <a routerLink="/basket" style="font-size: smaller; margin-top: 5px">Перейти в корзину</a>
        </div>


      </div>
    </div>
    <div >
      <p class="description"><strong>Описание:</strong><br> {{ armament.description }}</p>
    </div>
    <div>
      <h2>Похожие товары:</h2>
      <app-dataproductshelper (click)="clickToTop()" [data]="additional" [title]="'/armament'"></app-dataproductshelper>
    </div>
  </div>

</div>
