<div *ngIf="armament" class="equipment-details">

  <div class="details" @animations>
    <div class="productdata">
      <img [src]="armament.pictures" alt="{{ armament.name }}" class="equipment-image">
      <div class="info">
        <h2 class="name">{{ armament.name }}</h2>
        <h3 class="textproduct"><strong> {{ getPriceInLocalCurrency(armament.price) }} Руб.</strong></h3>
<!--        <span style="font-size: small">Тип товара: </span><strong><h3 class="textproduct" style="font-weight: bold"> {{ armament.type }}</h3></strong>-->
        <h3 class="textproduct"><strong>Наличие товара: </strong> <span>{{armament.quantity}} шт. - </span> <span [class.green]="armament.typeForBuy === 'Есть в наличии'" [class.red]="armament.typeForBuy === 'Под заказ'">{{ armament.typeForBuy }}</span></h3>
        <div class="buttons">
          <div class="inside-buttons">
            <button (click)="addItem(armament)" [disabled]="armament.quantity == quantityInBasket" [class.dis]="armament.quantity == quantityInBasket" class="addToCart" style="margin: 0">Добавить в Корзину</button>

            <a class="delete-button" *ngIf="isProductAddedToCart || quantityInBasket !== 0" (click)="removeFromCart(armament.id)"><span class="material-symbols-outlined">
delete
</span></a>
          </div>
<!--          <span>Количество данного товара в корзине : {{quantityInBasket}}</span>-->
          <div class="plus-minus">
            <button class="addToCart" style="margin: 0" [class.dis]="quantityInBasket == 0  || armament.quantity == quantityInBasket" [disabled]="quantityInBasket == 0  || armament.quantity == quantityInBasket" (click)="increaseQuantity(armament.id)">+</button>
            <strong class="quantity">{{ quantityInBasket}}</strong>
            <button class="addToCart" style="margin: 0" [class.dis]="quantityInBasket == 0" [disabled]="quantityInBasket == 0" (click)="decreaseQuantity(armament.id)">-</button>
            <!--          <button class="addToCart" [class.dis]="!selectedSize || quantityInBasket == 0" [disabled]="!selectedSize || quantityInBasket == 0" (click)="removeFromCart(equipment.id)">Удалить</button>-->
          </div>
          <a routerLink="/basket" style="font-size: smaller; margin-top: 5px">Перейти в корзину</a>
          <div style="margin: 10px; display: flex; flex-direction: column;">
            <a class="edit" [routerLink] = "['/create-armament', armament.id]" *appHasRole="['Admin']">Редактировать товар</a>
            <a class="edit" *appHasRole="['Admin']">Удалить(товар будет полностью удалён)</a>

          </div>
        </div>


      </div>
    </div>
    <div >
      <p class="description"><strong>Описание:</strong><br> {{ armament.description }}</p>
    </div>
    <div>
      <h2>Похожие товары:</h2>
      <app-dataproductshelper (click)="clickToTop()" [data]="additional" [title]="'/armament'"></app-dataproductshelper>
    </div>
  </div>

</div>
