<div *ngIf="cover" class="equipment-details">

  <div class="details" @animations>
    <div class="productdata">
      <img [src]="cover.pictures" alt="{{ cover.name }}" class="equipment-image">
      <div class="info">
        <h2 class="name">{{ cover.name }}</h2>
        <h3 class="textproduct" style="color: #34be02"><strong>Цена: </strong>  {{ cover.price }} Руб.</h3>
        <h3 class="textproduct"><strong>Тип: </strong>  {{ cover.type }}</h3>
        <h3 class="textproduct"><strong>Наличие товара: </strong>  <span [class.green]="cover.typeForBuy === 'Есть в наличии'"
                                                                         [class.red]="cover.typeForBuy === 'Под заказ'">{{ cover.typeForBuy }}</span></h3>
        <span style="color: red">Что бы заказать данный товар, свяжитесь с нами в любом мессенджере по номеру телефона +7-991-100-49-87.</span>
        <div class="buttons">
          <div class="inside-buttons">
            <button (click)="addItem(cover)" style="margin-right: 10px">Добавить в Корзину</button>

            <a class="delete-button" *ngIf="isProductAddedToCart" (click)="removeFromCart(cover.id)"><span class="material-symbols-outlined">
delete
</span></a>
          </div>
          <span>Количество данного товара в корзине : {{quantityInBasket}}</span>
          <a routerLink="/basket" style="font-size: smaller; margin-top: 5px">Перейти в корзину</a>
        </div>


      </div>
    </div>
    <div >
      <p class="description"><strong>Описание:</strong><br> {{ cover.description }}</p>
    </div>
    <div>
      <h2>Похожие товары:</h2>
      <app-dataproductshelper (click)="clickToTop()" [data]="addition" [title]="'/covers'"></app-dataproductshelper>
    </div>
  </div>

</div>
